html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    margin: 0;
    opacity: 0.8;
    background-color: #f9f9fa;
    background-image:  radial-gradient(#757575 2px, transparent 2px), radial-gradient(#757575 2px, #f9f9fa 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 50px;
    width: 60%;
    max-height: 500px;
    overflow: scroll;
    padding: 20px;
}

.text {
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 18px;
    font-weight: 500;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;

    border-color: #2727274b;
    border-width: 1px;
    border-style: solid;
    border-radius:10px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: box-shadow .5s;
    backdrop-filter: blur(5px);
    background: #e1e1e1;
}

.card .link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.card span {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
	font-size: 13px;
    line-height: 1.5em;
    margin: 15px;
    color: #000000;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.3);
}