.hct-container {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#square {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chroma-input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#tooltip-container {
    visibility: hidden;
    display: flex;
    padding: 5px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -100%);
    right: auto;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    z-index: 1;
}

#tooltip-text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#square:hover #tooltip-container {
    visibility: visible;
}

#tooltip-copy-container {
    visibility: hidden;
    display: flex;
    padding: 5px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -100%);
    right: auto;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    z-index: 1;
}

#tooltip-copy-text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}