:root {
    --color-text-primary: #333333;
    --color-text-primary-hover: #757575;

    --color-text-secondary: #616161;
    --color-text-secondary-hover: #BDBDBD;

    --color-text-tertiary: #757575;
    --color-text-tertiary-hover: #616161;
}

/** ---- **/
/** HOME **/
/** ---- **/

.home-body {
    width: 85%;
    margin: 100px auto;
}

.home-body ul {
    padding: 0;
    list-style-type: none;
}

.home-body li {
    margin-bottom: 12px;
}

.home-title {
    color: var(--color-text-primary);
    font-size: 2.4rem;
}

.home-link {
    color: var(--color-text-primary);
    font-size: 1.5rem;
}

.home-email {
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

/** -------- **/
/** ARTICLES **/
/** -------- **/

.articles-body {
    width: 50%;
    margin: 0 auto;
}

.articles-list {
    margin-top: 70px;
}

.articles-preview {
    margin-bottom: 70px;
}

.articles-preview p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles-preview-title {
    color: var(--color-text-primary);
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
}

.articles-preview-title:hover {
    color: var(--color-text-primary-hover);
    text-decoration: underline;
}

.articles-preview-date {
    color: var(--color-text-secondary);
    font-weight: bold;
    font-size: 1.2rem;
}

.articles-preview-description {
    color: var(--color-text-primary);
    font-size: 1.3rem;
}

/** ------ **/
/** HEADER **/
/** ------ **/

.site-header-content {
    margin-top: 30px;
    text-align: left;
}

.site-header-link {
    color: var(--color-text-tertiary);
    text-decoration: none;
    font-size: 1.2rem;
}

.site-header-link:hover {
    color: var(--color-text-tertiary-hover);
}