:root {
    --color-text-primary: #333333;
    --color-text-primary-hover: #757575;

    --color-text-secondary: #424242;
    --color-text-secondary-hover: #9E9E9E;

    --color-text-tertiary: #757575;
    --color-text-tertiary-hover: #616161;

    --page-width: 50%;
    --header-margin: 30px;
    --hr-color: #E0E0E0;
}

/** ---- **/
/** HOME **/
/** ---- **/

.home-main {
    width: 85%;
    margin: 100px auto;
}

.home-main ul {
    padding: 0;
    list-style-type: none;
}

.home-main li {
    margin-bottom: 12px;
}

.home-title {
    color: var(--color-text-primary);
    font-size: 2.4rem;
}

.home-link {
    color: var(--color-text-primary);
    font-size: 1.5rem;
}

.home-email {
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

/** -------- **/
/** ARTICLES **/
/** -------- **/

.articles-main {
    width: var(--page-width);
    margin: 0 auto;
}

.articles-list {
    margin-top: 70px;
}

.articles-preview {
    margin-bottom: 70px;
}

.articles-preview p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles-preview-title {
    color: var(--color-text-primary);
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
}

.articles-preview-title:hover {
    color: var(--color-text-primary-hover);
    text-decoration: underline;
}

.articles-preview-date {
    color: var(--color-text-secondary);
    font-weight: bold;
    font-size: 1.1rem;
}

.articles-preview-description {
    color: var(--color-text-primary);
    font-size: 1.3rem;
}

/** ------- **/
/** ARTICLE **/
/** ------- **/

.article-main {
    width: var(--page-width);
    margin: 0 auto;
}

.article-header {
    border-top: 1px solid var(--hr-color);
    border-bottom: 1px solid var(--hr-color);
}

.article-header-content {
    width: var(--page-width);
    margin: 50px auto 30px auto;
}

.article-title {
    color: var(--color-text-primary);
    font-size: 3rem;
}

.article-date {
    color: var(--color-text-secondary);
    font-size: 1rem;
}

.article-description {
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.article-body {
    color: var(--color-text-primary);
    font-size: 1.4rem;
}

/** ------ **/
/** HEADER **/
/** ------ **/

.site-header {
    width: var(--page-width);
    margin: 0 auto;
}

.site-header-content {
    margin-top: var(--header-margin);
    margin-bottom: var(--header-margin);
    text-align: left;
}

.site-header-link {
    color: var(--color-text-tertiary);
    text-decoration: none;
    font-size: 1.2rem;
}

.site-header-link:hover {
    color: var(--color-text-tertiary-hover);
}