.home-body {
    width: 85%;
    margin: 100px auto;
}

.home-body ul {
    padding: 0;
    list-style-type: none;
}

.home-body li {
    margin-bottom: 10px;
}

.home-title {
    color: #333333;
    font-size: 2.3rem;
}

.home-link,
.home-email {
    color: #333333;
    font-size: 1.5rem;
}

.home-email {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.articles-body {
    width: 50%;
    margin: 0 auto;
}

.article-body {
    width: 50%;
    margin: 0 auto;
}